<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/setup.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="container-control">
        <div class="select-option">
            <a href="/" class="logo-link" style="margin: 10px 5px;">
                <img src="https://i.pinimg.com/originals/ee/3e/29/ee3e295eb8ca1d142f4fb33099002e40.gif" alt="" class="logo_img" style="margin-left: 20px;">
            </a>

            <div class="menu-control">
                <div class="btn_show_control row" style="background-color: rgb(238,218,218);">
                    <a href="/crud" id="btn_show_products" class="show_control_link">Thông tin sách</a>
                </div>
                <div class="btn_show_control row">
                    <a href="/author" id="btn_show_products" class="show_control_link">Thông tin tác giả</a>
                </div>
                <div class="btn_show_control row">
                    <a href="" id="btn_show_products" class="show_control_link">Thông tin thể loại</a>
                </div>
                <div class="btn_show_control row">
                    <a href="" id="btn_show_users" class="show_control_link">Thông tin người dùng</a>
                </div>
            </div>

        </div>



        <div class="select-noon"></div>

        <div class="content-option">
            <div id="product_content"  class="product-content">
                <div class="products-title">
                    Danh sách sản phẩm
                </div>
    
                <div class="nav-products">
                    <form class="form-search">
                        <input type="text" class="search-products" name="title" placeholder="Tên sản phẩm">
                        <button type="submit" class="related-tag  btn-option" style="background-color: rgb(248, 83, 110);" >Tìm kiếm</button>
                    </form>
                    <button id="btn_add" class="related-tag btn-option" >Thêm sản phẩm</button>
                    <a href="/" class="related-tag btn-option" >Trang chủ</a>
    
                </div>
    
                <div class="list-products" style="border-bottom: 1px solid rgb(255, 78, 33);">
                    <div class="product-item">
                        <div class="product-list-info product-info-title">
                            BookID
                        </div>

                        <div class="product-list-info product-info-title">
                            Image
                        </div>

                        <div class="product-list-info product-info-title">
                            Title
                        </div>
        
                        <div class="product-list-info product-info-title">
                            Tác Giả
                        </div>
        
                        <div class="product-list-info product-info-title">
                            Thể Loại
                        </div>
        
                        <div class="product-list-info product-info-title">
                            Năm xuất bản
                        </div>

                        <div class="product-list-info product-info-title">
                            Giá
                        </div>
                    </div>
    
                    <div class="product-edit">
                        
                    </div>
    
                </div>
    
                {% for i in range(0, len) %}
                <div class="list-products">
                    <div class="product-item">
                        <div class="product-list-info">
                            {{books[i][0]}}
                        </div>
                        <div class="product-list-info img-info">
                            {% if books[i][6] is not none %}
                                <img src="data:image/jpeg;base64,{{base64.b64encode(books[i][6]).decode('utf-8')}}" alt="product-image" class="product-img">
                            {% else %}
                                <img src="https://via.placeholder.com/150" alt="product-image" class="product-img">
                            {% endif %}
                        </div>
        
                        <div class="product-list-info">
                            {{books[i][1]}}
                        </div>
        
                        <div class="product-list-info">
                            {{books[i][2]}}
                        </div>
                        <div class="product-list-info">
                            {{books[i][3]}}
                        </div>
                        <div class="product-list-info">
                            {{books[i][4]}}
                        </div>
                        <div class="product-list-info">
                            {{books[i][5]}}$
                        </div>
                    </div>
    
                    <div class="product-edit">
                        <button  class="js_update_book product-edit-item btn-edit-item" style="background-color: rgb(255, 99, 125)"
                            onclick='onUpdateBook("{{books[i][:6]}}")'>Chỉnh sửa</button>
                        <a href="/delete/{{books[i][0]}}" class="product-edit-item">
                            <button type="button" class="btn-edit-item" style="background-color: rgba(255, 46, 46, 0.792);">Xóa</button>
                        </a>
    
                    </div>
    
                </div>
                {% endfor %}
            </div>
        </div>

        

    </div>

     <!-- add product -->
    <div id="add_book" class="modal">
        <div  class="add-product">
            <div class="add-content">
                <form action="/add" method="post" class="form-add" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="upload-img">
                            <div class="avatar-wrapper">
                                <img id="avatar-preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY7qGmwPSyPiu7GB-Mr-vdSxc8jHTQlKL61g&usqp=CAU" alt="Avatar Preview">
                            </div>
                            <div class="btn-upload">
                                <input  name="img" type="file" id="avatar-upload" class="input-avatar" accept="image/*" >
                            </div>
                        </div>
                        <span class="title" style="font-size: 20px; margin-left: 25px;">Nhập thông tin sản phẩm</span>
                        
                        <div class="update-info">
                            
                            <input type="text" name="book_id" class="form-control-info" placeholder="Nhập id sách...">
                        </div>
        
                        <div class="update-info">
                            <input type="text" name="title" class="form-control-info" placeholder="Nhập tên sách...">
                        </div>
                        
                        <div class="update-info">
                            <input type="text" name="author" class="form-control-info" placeholder="Nhập tên tác giả...">
                        </div>
        
                        <div class="update-info">
                            <input type="text" name="genre" class="form-control-info" placeholder="Nhập tên thể loại...">
                        </div>
        
                        <div class="update-info">
                            <input type="text" name="year" class="form-control-info" placeholder="Nhập năm xuất bản...">
                        </div>
                        <div class="update-info">
                            <input type="text" name="price" class="form-control-info" placeholder="Nhập giá sách...">
                        </div>
                    </div>
    
                    <div class="modal-footer">
                        <button id="close_add" type="button" class="btn-close" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark fa-xl"></i>
                        </button>
                        <button type="submit" class="btn-add">Thêm</button>
                    </div>
    
                </form>
    
                
            </div>
        </div>

        

    </div>


    <!-- Update product -->
    <div id="update_book" class="modal">
        <div  class="add-product">
            <div class="add-content">
                <form action="/update" method="post" class="form-add" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="upload-img">
                            <div class="avatar-wrapper">
                                <img id="avatar-update-preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY7qGmwPSyPiu7GB-Mr-vdSxc8jHTQlKL61g&usqp=CAU" alt="Avatar Preview">
                            </div>
                            <div class="btn-upload">
                                <input  name="img" type="file" id="avatar_update" class="input-avatar" accept="image/*" >
                            </div>
                        </div>
                        <span class="title" style="font-size: 20px; margin-left: 25px;">Nhập thông tin sản phẩm</span>
                        
                        <div class="update-info">
                            
                            <input id="u_book_id" type="text" name="book_id" class="form-control-info" placeholder="Nhập id  sách..." readonly>
                        </div>
        
                        <div class="update-info">
                            <input id="u_title" type="text" name="title" class="form-control-info" placeholder="Nhập tên sách...">
                        </div>
                        
                        <div class="update-info">
                            <input id="u_author" type="text" name="author" class="form-control-info" placeholder="Nhập tên tác giả...">
                        </div>
        
                        <div class="update-info">
                            <input id="u_genre" type="text" name="genre" class="form-control-info" placeholder="Nhập tên thể loại...">
                        </div>
        
                        <div class="update-info">
                            <input id="u_year" type="text" name="year" class="form-control-info" placeholder="Nhập năm xuất bản...">
                        </div>
                        <div class="update-info">
                            <input id="u_price" type="text" name="price" class="form-control-info" placeholder="Nhập giá sách...">
                        </div>
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="js_close_update btn-close" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark fa-xl"></i>
                        </button>
                        <button type="submit" class="btn-add">update</button>
                    </div>
    
                </form>
    
                
            </div>
        </div>

        

    </div>


</body>
<script src="../static/js/app.js"></script>
</html>