<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/setup.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="container-control">
        <div class="select-option">
            <a href="/" class="logo-link" style="margin: 10px 5px;">
                <img src="https://i.pinimg.com/originals/ee/3e/29/ee3e295eb8ca1d142f4fb33099002e40.gif" alt="" class="logo_img" style="margin-left: 20px;">
            </a>

            <div class="menu-control">
                <div class="btn_show_control row">
                    <a href="/crud" id="btn_show_products" class="show_control_link">Thông tin sách</a>
                </div>
                <div class="btn_show_control row">
                    <a href="/author" id="btn_show_products" class="show_control_link">Thông tin tác giả</a>
                </div>
                <div class="btn_show_control row" style="background-color: rgb(238,218,218);">
                    <a href="/genre" id="btn_show_products" class="show_control_link">Thông tin thể loại</a>
                </div>
                <div class="btn_show_control row">
                    <a href="/user" id="btn_show_users" class="show_control_link">Thông tin người dùng</a>
                </div>
            </div>

        </div>



        <div class="select-noon"></div>

        <div class="content-option">

            <div id="author_content"  class="author-content">
                <div class="products-title">
                    Danh sách tác giả
                </div>
    
                <div class="nav-products">
                    <form class="form-search">
                        <input type="text" class="search-products" name="genre" placeholder="Tên thể loại">
                        <button type="submit" class="related-tag  btn-option" style="background-color: rgb(248, 83, 110);" >Tìm kiếm</button>
                    </form>
                    <button id="btn_add" class="related-tag btn-option" >Thêm thể loại</button>
                    <a href="/" class="related-tag btn-option" >Trang chủ</a>
    
                </div>
    
                <div class="list-products" style="border-bottom: 1px solid rgb(255, 78, 33);">
                    <div class="product-item">
                        <div class="product-list-info product-info-title">
                            Name
                        </div>

                        <div class="product-list-info product-info-title" style="width: 70%;">
                            Description
                        </div>
        
                        
                    </div>
    
                    <div class="product-edit">
                        
                    </div>
    
                </div>
    
                {% for i in range(0, len) %}
                <div class="list-products">
                    <div class="product-item">
                        <div class="product-list-info">
                            {{genres[i][0]}}
                        </div>
        
                        <div class="product-list-info" style="width: 70%; justify-content: left;">
                            {{genres[i][1]}}
                        </div>
        
                     
                    </div>
    
                    <div class="product-edit">
                        <button  class="js_update_book product-edit-item btn-edit-item" style="background-color: rgb(255, 99, 125)"
                            onclick='onUpdateGenre("{{genres[i]}}")'>Chỉnh sửa</button>
                        <a href="/delete_genre/{{genres[i][0]}}" class="product-edit-item">
                            <button type="button" class="btn-edit-item" style="background-color: rgba(255, 46, 46, 0.792);">Xóa</button>
                        </a>
    
                    </div>
    
                </div>
                {% endfor %}
            </div>
            
        </div>

        

    </div>

     <!-- add author -->
    <div id="add_book" class="modal">
        <div  class="add-product" style="top: 20%;" >
            <div class="add-content" style="padding: 100px 0px;">
                <form action="/add_genre" method="post" class="form-add" enctype="multipart/form-data">
                    <div class="modal-body">
                        
                        <span class="title" style="font-size: 20px; margin-left: 25px;">Nhập thông tin thể loại</span>
                        
                        <div class="update-info">
                            <input type="text" name="genrename" class="form-control-info" placeholder="Nhập tên thể loại...">
                        </div>
        
                        <div class="update-info">
                            <input type="text" name="description" class="form-control-info" placeholder="Nhập mô tả..">
                        </div>
        
                        
                    </div>
    
                    <div class="modal-footer">
                        <button id="close_add" type="button" class="btn-close" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark fa-xl"></i>
                        </button>
                        <button type="submit" class="btn-add">Thêm</button>
                    </div>
    
                </form>
    
                
            </div>
        </div>

        

    </div>


    <!-- Update product -->
    <div id="update_book" class="modal">
        <div  class="add-product"  style="top: 20%;">
            <div class="add-content" style="padding: 100px 0px;">
                <form action="/update_genre" method="post" class="form-add" enctype="multipart/form-data">
                    <div class="modal-body">
                       
                        <span class="title" style="font-size: 20px; margin-left: 25px;">Nhập thông tin thể loại</span>
                        
                        <div class="update-info">
                            <input id="u_genrename" type="text" name="genrename" class="form-control-info" style="background-color: rgb(255, 225, 225);"  readonly>
                        </div>
        
                        <div class="update-info">
                            <input id="u_description" type="text" name="description" class="form-control-info" placeholder="Nhập mô tả">
                        </div>

        
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="js_close_update btn-close" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark fa-xl"></i>
                        </button>
                        <button type="submit" class="btn-add">update</button>
                    </div>
    
                </form>
    
                
            </div>
        </div>

        

    </div>


</body>
<script >
    var addBook = document.getElementById('add_book');
    var showAddBook = document.getElementById('btn_add');
    var closeAddBook = document.getElementById('close_add')
    var updateBook = document.getElementById('update_book');
    var showUpdateBook = document.querySelectorAll('.js_update_book');
    var closeUpdateBook = document.querySelectorAll('.js_close_update');

    
    function showAdd () {
        if (addBook.style.display == 'block') {
        addBook.style.display = 'none'
        } else {
        addBook.style.display = 'block'
        }
    }
    showAddBook.addEventListener('click', showAdd)
    closeAddBook.addEventListener('click', showAdd)
    
  
    function showUpdate() {
        if (updateBook.style.display == 'block') {
            updateBook.style.display = 'none'
        } else {
            updateBook.style.display = 'block'
        }
    }
    
    for (var i = 0; i < showUpdateBook.length; i++){
        showUpdateBook[i].addEventListener('click', showUpdate)
    }
    
    for (var i = 0; i < closeUpdateBook.length; i++){
        closeUpdateBook[i].addEventListener('click', showUpdate)
    }
  
    function onUpdateGenre(genre_string) {
        genre_string = genre_string.replaceAll("'", "").replaceAll('(', '').replaceAll(')', '').trim();
        var genre = genre_string.split(",")
        var u_genrename = document.getElementById("u_genrename");
        var u_description = document.getElementById("u_description");

        u_genrename.value = genre[0].trim();
        u_description.value = genre[1].trim();
     
    }


  
</script>
</html>
