<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/setup.css">
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>

    <header class="nav-bar">
        <div class="cps-container">
            <div class="cps-header">
                <div class="navbar-left flex-item">
                    <a href="/" class="logo-link">
                        <img src="https://i.pinimg.com/originals/86/69/dc/8669dce9aeab2acff7bf62c370933b59.gif" alt="" class="logo-img">
                        <span class="logo-text">Dungdz</span>
                    </a>
                    
                    <a href="" class="menu btn-item">
                        <i class="fa-solid fa-bars"></i>
                        <span class="menu-text">Danh mục</span>
                    </a>
                    
                    <a href="" class="local-store btn-item">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="local-text">Địa điểm
                            <i class="ti-angle-down"></i>
                        </span>
                    </a>

                </div>

                <div class="nav-search">
                    <button type="submit" class="btn-search" >
                        <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #656f81;"></i>
                    </button>
                    <input class = "search-input" type="text" placeholder="Bạn cần tìm gì?">
                </div>
                
                <div class="navbar-right flex-item">
                    <a href="" class="contact btn-item">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <span class="contact">0326680326</span>
                    </a>
    
                    <a href="" class="about-store btn-item">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="about-text">Cửa hàng gần bạn</span>
                    </a>
    
                    <a href="" class="user btn-item">
                        <i class="fa-solid fa-user"></i>
                        <span class="user-login">Đăng nhập</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="clear"></div>

    <div class="cps-login-page">
        <div class="login-form">
            <div class="login-form-cover">
                <div class="cps-login_logo">
                    <img src="https://i.pinimg.com/originals/7a/0f/6e/7a0f6eba673293e8ab12382e32f15412.gif" alt="" class="login_img">
                </div>
                
                <p class="logo_title">
                    Đăng nhập tài khoản
                </p>
    
                <form method="POST" action="" >
                    <div class="field">
                        <input type="text" name="phone_number" class="group-item" placeholder="Vui lòng nhập số diện thoại/email">
                    </div>
    
                    <div class="field">
                        <input type="text" name="password" class="group-item" placeholder="Vui lòng nhập mật khẩu">
                    </div>
                    
                    <a href="">
                        <p class="forget-pass">Quên mật khẩu?</p>
                    </a>
                    
                    <div class="submit">
                        <button class="btn-submit" type = "submit">
                            <span class="btn-text">Đăng nhập</span>

                        </button>
                    </div>
                </form>

                <div class="line-through">
                    <hr> 
                    <p>hoặc</p>
                    <hr>
                </div>

                <a href="" class="login-gg">
                    <i class="fa-brands fa-google fa-xl" style="color: #f45d99;"></i>
                    <div class="login-gg_text">Đăng nhập bằng Google</div>
                </a>

                <div class="login-question">
                    <span class="login-question_text">Bạn chưa có tài khoản?</span>
                    <a href="/register" class="register">Đăng ký ngay</a>
                </div>

                

            </div>
        </div>
    </div>

    <script src="./js/app.js"></script>
</body>
</html>